<!{% extends "base.html" %}
{% block content %}
    <p class="important">
    <div id="content">
        <h2>Blackboard Learn Environments</h2>
        <table class='table table-hover table-striped'>
            <tr>
                <th>Host Name</th>
                <th>Status</th>
                <th>Build</th>
                <th>OS</th>
                <th>Licenses</th>
            </tr>
            {% for env in templateVar.values() %}
                <tr>
                    <td>{{ env['hostname'] }}</td>
                    <td>
                        <form action="" method="post">
                            <button name="changeStatus" value="changeStatus">Change Status</button>
                        </form></br>
                        <p>Current Status: {{ env['status'] }}</p>
                    </td>
                    <td>{{ env['build'] }}</td>
                    <td>{{ env['os'] }}</td>
                    <td>{{ env['licenses'] }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    </p>
{% endblock %}