<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>{{title}}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Test Lab</a>
    </div>
    <div class="nav-center">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Home</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-fluid background">
	<div class="main-content">
    {# In the next line the content from the site.html template will be added #}
    {% block content %}{% endblock %}
    </div>
</div>
<div id="footer">
    {% block footer %}
    &copy; Copyright 2016 by <a href="http://domain.invalid/">Joe Feocco</a>.
    {% endblock %}
</div>
</body>